img.map-about-tab {
  opacity: 25%;
}


/***
=============================================
About Style1 Area Css
=============================================
***/

:root {
  --thm-base: #0069b3;
  --thm-base-rgb: 0, 105, 64;
}

.about-style1-area {
  position: relative;
  display: block;
  padding: 120px 0 120px;
  z-index: 9;
}

.about-style1-area.bg-white {
  background: #ffffff;
}

.about-style1-area .shape1 {
  position: absolute;
  top: -410px;
  right: -450px;
  background-color: rgb(235, 241, 237);
  width: 875px;
  height: 875px;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: animation1 5s ease-in infinite;
  animation: animation1 5s ease-in infinite;
}

.about-style1__image {
  position: relative;
  display: block;
  max-width: 500px;
  width: 100%;
}

.about-style1__image .text-outer {
  position: absolute;
  top: 30px;
  left: -105px;
  bottom: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgba(0, 105, 64, .10);
  font-size: 120px;
  font-weight: 200;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-family: var(--thm-font);
  transform: rotate(0deg) translateX(0%);
  width: max-content;
}

.about-style1__image .border-top {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  height: 2px;
  background: #ffffff;
  z-index: 2;
}

.about-style1__image .border-left {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  width: 2px;
  background: #ffffff;
  z-index: 2;
}

.about-style1__image .border-bottom {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
  height: 2px;
  background: #ffffff;
  z-index: 2;
}

.about-style1__image .border-right {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  width: 2px;
  background: #ffffff;
  z-index: 2;
}

.about-style1__image ul {
  position: relative;
  display: block;
  margin-left: -5px;
  margin-right: -5px;
}

.about-style1__image ul li {
  position: relative;
  display: block;
  float: left;
  padding: 0 5px;
}

.about-style1__image ul li .img-box {
  position: relative;
  display: block;
  overflow: hidden;
}

.about-style1__image ul li .img-box img {
  width: 100%;
}

.about-style1__image ul li .img-box::before {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  content: '';
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .6) 100%);
  transform: skewX(5deg);
  z-index: 2;
}

.about-style1__image ul li:hover .img-box::before {
  -webkit-animation: shine 1.6s;
  animation: shine 1.6s;
}

.about-style1__content {
  position: relative;
  display: block;
  margin-left: -30px;
}

.about-style1__content .sec-title {
  padding-bottom: 25px;
}

.about-style1__content .inner-content {
  position: relative;
  display: block;
}

.about-style1__content .inner-content .text {
  position: relative;
  display: block;
  padding-bottom: 8px;
}

.about-style1__content .inner-content .text p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  margin: 0;
}

.progress-levels {
  position: relative;
  display: block;
}

.progress-box {
  position: relative;
  display: block;
  margin-top: 28px;
}

.progress-box .inner {
  position: relative;
  display: block;
}

.progress-box .inner .top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 11px;
}

.progress-box .inner .top .text {
  position: relative;
  color: var(--thm-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--thm-font)
}

.progress-box .top .skill-percent {
  position: relative;
  display: block;
  line-height: 0;
}

.progress-box .top .count-text {
  position: relative;
  color: var(--thm-gray);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  float: none;
  font-family: var(--thm-font);
}

.progress-box .top .percent {
  position: relative;
  color: var(--thm-gray);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  float: none;
  margin-left: -2px;
}

.progress-box .bar {
  position: relative;
  display: block;
}

.progress-box .bar .bar-innner {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: rgba(0, 105, 64, .10);
  border-radius: 10px;
}

.progress-box .bar .bar-fill {
  position: absolute;
  top: 0%;
  left: 0px;
  bottom: 0%;
  width: 0px;
  height: 8px;
  border-radius: 10px;
  transition: all 2000ms ease 300ms;
  background: #f6a400;
}

.about-style1__bottom-content {
  position: relative;
  display: block;
  padding-top: 33px;
}

.about-style1__bottom-content .text-box {
  position: relative;
  display: block;
  margin-top: -7px;
}

.about-style1__bottom-content .text-box ul {
  position: relative;
  display: block;
  overflow: hidden;
}

.about-style1__bottom-content .text-box ul li {
  position: relative;
  display: block;
  padding-left: 30px;
  color: var(--thm-black);
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

.about-style1__bottom-content .text-box ul li+li {
  margin-top: 8px;
}

.about-style1__bottom-content .text-box ul li:before {
  position: absolute;
  content: "\e926";
  font-family: 'icomoon' !important;
  left: 1px;
  color: #f6a400;
  font-size: 16px;
  font-weight: 400;
}

.video-gallery-style1 {
  position: relative;
  max-width: 220px;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 100%;
}

.video-gallery-style1__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--thm-black);
  background-blend-mode: multiply;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.video-gallery-style1:hover .video-gallery-style1__bg {
  opacity: 0.70;
}

.video-gallery-style1 .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #0069b3;
  border-radius: 50%;
  z-index: 2;
}

.video-gallery-style1 .icon:before {
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  border-radius: 50%;
  z-index: -1;
}

.video-gallery-style1 .icon:before {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 10, 20, .20);
  box-shadow: 0 0 0 0 rgba(0, 10, 20, .30);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite
}

.video-gallery-style1 .icon:after {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 0px dashed rgba(255, 255, 255, 0.40);
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 10, 20, .70);
  box-shadow: 0 0 0 0 rgba(0, 10, 20, .70);
  -webkit-animation: ripple 6s infinite;
  animation: ripple 6s infinite
}

.video-gallery-style1 .icon .video-popup {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.video-gallery-style1 .icon .video-popup span::before {
  position: relative;
  top: 2px;
  color: #ffffff;
}


/***
=============================================
About Style2 Area Css
=============================================
***/

.about-style2-area {
  position: relative;
  display: block;
  padding: 0px 0px 120px;
  z-index: 1;
}

.about-style2-area .container {
  position: relative;
}

.about-style2-area .container::before {
  position: absolute;
  top: 0px;
  left: 215px;
  bottom: -120px;
  right: -100000px;
  background: #ebf1ed;
  content: "";
  z-index: -1;
}

.about-style2__image {
  position: relative;
  display: block;
}

.about-style2__image::before {
  position: absolute;
  left: 160px;
  bottom: -120px;
  width: 10px;
  height: 90px;
  background: #0069b3;
  content: "";
}

.about-style2__image-inner {
  position: relative;
  display: block;
  overflow: hidden;
}

.about-style2__image-inner img {
  width: 100%;
  transition: all 500ms linear;
  transition-delay: 0.2s;
}

.about-style2__image:hover .about-style2__image-inner img {
  transform: scale(1.1) rotate(0deg);
  transition: all 500ms linear;
  transition-delay: 0.1s;
}

.about-style2__image-inner::before {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(25deg);
  z-index: 2;
}

.about-style2__image:hover .about-style2__image-inner::before {
  -webkit-animation: shine 1.9s;
  animation: shine 1.9s;
}

.about-style2__content {
  position: relative;
  display: block;
  padding-left: 70px;
}

.about-style2__content .sec-title {
  padding-bottom: 24px;
}

.about-style2__content .inner-content {
  position: relative;
  display: block;
}

.about-style2__content .inner-content .text {
  position: relative;
  display: block;
}

.about-style2__content .inner-content .text p {
  color: #0069b3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  margin: 0px;
}

.about-style2__content-list {
  position: relative;
  display: block;
  margin-top: 28px;
}

.about-style2__content-list ul {
  position: relative;
  display: block;
}

.about-style2__content-list ul li {
  position: relative;
  display: block;
  line-height: 36px;
}

.about-style2__content-list ul li p {
  font-size: 18px;
  margin: 0px;
}

.about-style2__content-list ul li p span {
  position: relative;
  display: inline-block;
  color: #f6a400;
  font-size: 20px;
  line-height: 20px;
  top: 3px;
  padding-right: 6px;
}

.about-style2__content .author-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 5px;
}

.about-style2__content .author-box .img-box {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.about-style2__content .author-box .img-box::before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #f6a400;
  border-radius: 50%;
  content: "";
}

.about-style2__content .author-box .img-box img {
  width: 100%;
  border-radius: 50%;
}

.about-style2__content .author-box .title {
  position: relative;
  display: block;
  padding-left: 30px;
}

.about-style2__content .author-box .title h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.about-style2__content .author-box .title span {
  color: #0069b3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--thm-font-2);
}


/***
=============================================
About Style2 Area Css
=============================================
***/

.about-style3-area {
  position: relative;
  display: block;
  overflow: hidden;
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 70px;
  z-index: 0;
}

.about-style3-area .shape1 {
  position: absolute;
  top: -260px;
  right: -450px;
  background-color: rgb(235, 241, 237);
  width: 875px;
  height: 875px;
  border-radius: 50%;
  z-index: -1;
}

.about-style3__img-box {
  position: relative;
  display: block;
  max-width: 545px;
  width: 100%;
  padding-right: 30px;
}

.about-style3__img-box .inner {
  position: relative;
  display: block;
}

.about-style3__img-box .inner img {
  width: 100%;
  min-height: 467px;
}

.about-style3-experience {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 60px;
  width: 70px;
  text-align: center;
  background-color: #0069b3;
}

.about-style3-experience p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: rotate(90deg) translateX(0%);
  transform-origin: 0 0;
  width: max-content;
  margin: 90px 50px;
  float: left;
}

.about-style3-experience p span {
  color: #f6a400;
}

.about-style3__content {
  position: relative;
  display: block;
 
}



.about-style3__content ul {
  position: relative;
  display: block;
  overflow: hidden;
}

.about-style3__content ul li {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  float: left;
  border-right: 1px solid #cad7cf;
}

.about-style3__content ul li:last-child {
  border-right: none;
  padding-left: 50px;
}

.about-style3__content ul li span:before {
  position: relative;
  display: inline-block;
  left: 1px;
  color: #f6a400;
  font-size: 20px;
  line-height: 20px;
}

.about-style3__content ul li h3 {
  color: #0069b3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 5px 0 8px;
}

.about-style3__content ul li p {
  margin: 0;
}

.about-style3__content .text {
  position: relative;
  display: block;
  padding-top: 19px;
}

.about-style3__content .text p {
  margin: 0;
}

.about-style3__content .author-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 43px;
  margin-left: 5px;
}

.about-style3__content .author-box .img-box {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.about-style3__content .author-box .img-box::before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #f6a400;
  border-radius: 50%;
  content: "";
}

.about-style3__content .author-box .img-box img {
  width: 100%;
  border-radius: 50%;
}

.about-style3__content .author-box .title {
  position: relative;
  display: block;
  padding-left: 30px;
}

.about-style3__content .author-box .title h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.about-style3__content .author-box .title span {
  color: #0069b3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--thm-font-2);
}

.about-style2-img-box .base-bg {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.about-style3-experience {
  box-shadow: 5px 6px 11px 1px #00000070;
  border-radius: 0 52px 52px 0px;
}



.about-style3__content{
  overflow: auto;
  height: 600px;
}

/* ================================================================================================================= */
/*-- Feature --*/

.feature-area .section-title {
  text-align: center;
}

.feature-area .section-title h4 {
  margin-bottom: 3px;
}

.feature-area .section-title p {
  margin-bottom: 0;
  /* max-width: 650px; */
  margin-left: auto;
  margin-right: auto;
}

.feature-area .feature-img {
  margin-bottom: 30px;
  text-align: center;
}

.feature-area .feature-img img {
  border-radius: 10px;
  /* -webkit-animation: feature-ani-one 4s infinite linear;
  animation: feature-ani-one 4s infinite linear; */
}

.feature-area .feature-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.feature-area .feature-content .feature-top {
  position: relative;
  /* margin-bottom: 30px; */
}

.feature-area .feature-content .feature-top h4 {
  margin-bottom: 15px;
  padding-inline-start: 40px;
  position: relative;
  padding-bottom: 18px;
}

.feature-area .feature-content .feature-top p {
  margin-bottom: 0;
}

.feature-area .feature-content .feature-inner {
  margin-bottom: 30px;
}

.feature-area .feature-content .feature-inner i {
  display: inline-block;
  color: #2948ff;
  font-size: 35px;
  margin-bottom: 12px;
  line-height: 35px;
}

.feature-area .feature-content .feature-inner h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #221668;
}

.feature-area .feature-content .feature-inner p {
  margin-bottom: 0;
}

@-webkit-keyframes feature-ani-one {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  50% {
      -webkit-transform: translate(0, -15px);
      transform: translate(0, -15px);
  }
  100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
}

@keyframes feature-ani-one {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  50% {
      -webkit-transform: translate(0, -15px);
      transform: translate(0, -15px);
  }
  100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
}


/*-- End Feature --*/


/*-- Service --*/

.section-title {
  margin-bottom: 40px;
}

.section-title .sub-title {
  display: block;
  color: #2948ff;
  margin-bottom: 2px;
}

.section-title h2 {
  font-size: 45px;
  margin-bottom: 0;
}

.service-area {
  position: relative;
}

.service-area .service-shape {
  position: absolute;
  top: -125px;
  left: 0;
  z-index: -2;
}

.service-item {
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
  padding: 30px 30px 26px;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd7a;
  box-shadow: 0px 0px 20px 0px #dddddd7a;
  z-index: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  overflow: hidden;
  background-color: #fff;
}

.service-item:hover {
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.service-item:hover:before {
  height: 100%;
  opacity: 1;
}

.service-item:hover i {
  color: #ffffff;
}

.service-item:hover i:after {
  background-color: #ffffff;
}

.service-item:hover h3 a {
  color: #ffffff;
}

.service-item:hover p {
  color: #ffffff;
}

.service-item:hover .img-one {
  bottom: 0;
  opacity: 0;
}

.service-item:hover .img-two {
  opacity: 1;
}

.service-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: #0069b3;
  border-radius: 5px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: -1;
  opacity: 0;
}

.service-item i {
  color: #2948ff;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  padding-bottom: 18px;
}

.service-item i:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0069b3;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.service-item h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.service-item h3 a {
  color: #221668;
}

.service-item h3 a:hover {
  letter-spacing: 1px;
}

.service-item p {
  color: #565353;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-bottom: 0;
}

.service-item .img-one {
  bottom: -100px;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.service-item .img-two {
  bottom: -145px;
  right: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}


/*-- End Service --*/


/*-- Services --*/

.section-title.two .sub-title {
  letter-spacing: 5px;
}

.section-title.two h2 {
  font-size: 40px;
}

.service-area .section-title.two {
  text-align: center;
}

.service-area .section-title.two h2 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.service-item-two {
  margin-bottom: 30px;
  text-align: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  padding-left: 5px;
  padding-right: 5px;
}

.service-item-two:hover {
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.service-item-two:hover .service-link {
  color: #2948ff;
}

.service-item-two:hover .service-link i {
  -webkit-animation: cmn-rotate-ani 0.8s infinite linear;
  animation: cmn-rotate-ani 0.8s infinite linear;
}

.service-item-two img {
  margin-bottom: 20px;
  width: 215px;
  height: 155px;
}

.service-item-two h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

.service-item-two h3 a {
  color: #221668;
  display: block;
}

.service-item-two h3 a:hover {
  color: #2948ff;
}

.service-item-two p {
  margin-bottom: 10px;
}

.service-item-two .service-link {
  display: inline-block;
  color: #60578f;
}

.service-item-two .service-link:hover {
  color: #2948ff;
}

.service-item-two .service-link i {
  display: inline-block;
  position: relative;
  top: 2px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-animation: unset;
  animation: unset;
}


/*-- End Services --*/


/*-- Service --*/

.service-area .section-title.three {
  text-align: center;
}

.service-area .section-title.three h2 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.service-item-three {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #ffdbde;
  padding: 30px 30px 55px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.service-item-three:hover {
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.service-item-three:hover .service-link img {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.service-item-three.two {
  background-color: #2948ff;
}

.service-item-three.two h3 a {
  color: #fff;
}

.service-item-three.two h3 a:hover {
  color: #d6fff0;
}

.service-item-three.two p {
  color: #fff;
}

.service-item-three.two .service-link:hover a {
  color: #d6fff0;
}

.service-item-three.two .service-link a {
  color: #fff;
}

.service-item-three.three {
  background-color: #d6fff0;
}

.service-item-three h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-item-three h3 a {
  color: #2a284f;
}

.service-item-three h3 a:hover {
  color: #2948ff;
}

.service-item-three p {
  margin-bottom: 18px;
}

.service-item-three .service-link {
  position: relative;
}

.service-item-three .service-link img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.service-item-three .service-link a {
  display: inline-block;
  color: #252525;
  font-size: 30px;
  position: relative;
  z-index: 1;
  top: 20px;
  left: 25px;
  font-weight: 700;
}

.service-item-three .service-link a:hover {
  color: #2948ff;
}

.section-title.three .sub-title {
  background-color: #d9e3ff;
  border-radius: 30px;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 8px;
}

.section-title.three h2 {
  font-size: 40px;
  color: #2a284f;
}


/*-- End Service --*/


/*-- Service --*/

.service-area.four .section-title.three {
  text-align: left;
  margin-bottom: 35px;
}

.service-area.four .section-title.three h2 {
  margin-bottom: 20px;
}

.service-area.four .section-title.three p {
  margin-bottom: 0;
}

.service-area.four .service-content {
  margin-bottom: 30px;
}

.service-area.four .service-inner {
  margin-bottom: 30px;
}

.service-area.four .service-inner i {
  color: #221668;
  display: inline-block;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.service-area.four .service-inner i:after {
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  top: -5px;
  left: -5px;
  background-color: #ced0fa;
  z-index: -1;
  border-radius: 50%;
}

.service-area.four .service-inner h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-area.four .service-inner h3 a {
  color: #221668;
}

.service-area.four .service-inner h3 a:hover {
  color: #2948ff;
}

.service-area.four .service-inner p {
  margin-bottom: 0;
  padding-right: 30px;
}

.theme {
  color: #0069b3 !important;
}


/*-- End Service --*/
li.mylist {
  list-style: disc;
}
ul.unorder-list {
  margin: 0 12px;
}











/* -----service package title style---------------- */
.title2{
  position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}
 .title2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #0071ba;
    border-radius: 3px;
}

 .title2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
    transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: #f5931d;
    border-radius: 3px;
}

.feature-top  h4::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateX(30px);
  width: 30px;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 3px;
}
.feature-top  h4::before{
  left: -30px;
}


@media (min-width: 992px) {
  .xorder-1{
    order: 1 ;
  }
  .xorder-2{
    order: 2 ;
  }
 }

 .more-btn{
  align-self: end;
  position: relative;
  color: red;
  font-weight: 600;
  top: -30px;
right: -17px;
}
.more-btn:hover{
  color: red;
}