





  


/* ----- title style---------------- */
.title2{
  text-align: center;
  position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 38px;
}
 .title2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #0071ba;
    border-radius: 3px;
}

 .title2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
    transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: #f5931d;
    border-radius: 3px;
}

