<div class="container ">
  <div class="container-fluid">

    <div class="row px-4">
      <div class="col-md-4 col-sm-6  " data-aos="fade-right" data-aos-offset="100" data-aos-delay="450" data-aos-duration="500">
        <div class="serviceBox">
          <div class="service-icon">
            <span><i class="{{icon1}}"></i></span>
          </div>
          <h3 class="title pt-3" [innerHTML]="title1"></h3>
          <p class="description" [innerHTML]="details1"></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 " data-aos="fade-right" data-aos-offset="150" data-aos-delay="300" data-aos-duration="500">
        <div class="serviceBox ">
          <div class="service-icon">
            <span><i class="{{icon2}}"></i></span>
          </div>
          <h3 class="title" [innerHTML]="title2"></h3>
          <p class="description" [innerHTML]="details2"></p>

        </div>
      </div>
      <div class="col-md-4 col-sm-6 " data-aos="fade-right" data-aos-offset="200" data-aos-delay="150" data-aos-duration="500">
        <div class="serviceBox blue">
          <div class="service-icon">
            <span><i class="{{icon3}}"></i></span>
          </div>
          <h3 class="title" [innerHTML]="title3"></h3>
          <p class="description" [innerHTML]="details3"></p>
        </div>
      </div>

    </div>
    <!-- <div class=" d-flex justify-content-center text-center my-4 ">
      <button type="button" class="btn btn-outline-danger px-4 py-1 fs-5" [innerHTML]="'Download'|translate" ></button>
    </div> -->
  </div>
</div>




