.box {
    position: relative;
    background-color: #ffffff;
    margin: 10px auto;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.box:hover {
    transform: scale(1.02) rotate(0deg);
    opacity: 0.9;
  
  }

.imgBx {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.imgBx img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    width: 280px;
    height: 200px;
    border-radius: 10%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



  .box:hover .imgBx img {
    /* transform: translateX(-50%) scale(1.1); */
 
  }




.names {
    margin-top: 150px;
    color: #0f0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.names h1 {
    font-size: 18px;
    font-weight: 800;
}

.names p {
    font-size: 13px;
    color: #131111;
}

.skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #131111;
    gap: 15px;
}

.skills .details {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
}

.skills .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
}

.line {
    width: 0%;
    height: 9px;
    background-color: #0072BC;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#html {
    animation: html 4s 0s forwards 1;
}

#css {
    animation: css 5s 0s forwards 1;
}

#js {
    animation: js 6s 0s forwards 1;
}

@keyframes html {
    100% {
        width: 80%;
    }
}

@keyframes css {
    100% {
        width: 70%;
    }
}

@keyframes js {
    100% {
        width: 50%;
    }
}
